div.progress-bars-container {
    margin: .5em 0;
    background-color: #E8ECEF;
}

div.progress-bar-legend div.legend-item {
    display: flex;
    align-items: center;
}

div.legend-item div.progress-bar-sample {
    width: 1rem;
    height: 1rem;
    border-radius: .25rem;
    float: left;
    margin-right: .25rem;
}
