.bottom-button-container {
    margin-top: auto;
    margin-bottom: 24px;
}

.start-workflow-error {
    color: red;
    padding-bottom: 8px;
}

.workflow-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}
