div.container.full-width {
    max-width: initial;
}

.full-height {
    height: 100%;
}


div.editor-left-sidebar {
    min-width: 6em;
    flex-grow: 0;
}

div.editor-center {
    flex-grow: 2;
}

div.editor-right-sidebar {
    flex-grow: 1;
    max-width: 25em;
}


.light-background {
    background-color: var(--lightBackground);
}

div.workflow-editor-container {
    flex: 1;
    margin-top: -1em;
}

.graph-editor-container {
    display: flex;
    padding: 0;
    position: relative;

    max-width: initial;
    flex-grow: 2;
}

.workflow-breadcrumb {
    position: absolute;
    top: 0;

    margin-left: 15px;
    padding-top: 15px;
}

.workflow-bottom-navbar {
    position: absolute;
    bottom: 0;

    margin-left: 15px;
    width: calc(100% - 30px);

    border-radius: .25em;
}

div.editor-right-sidebar {
    display: flex;
}


div.right-sidebar-parameter {
    margin-bottom: .25em;
}
