:root {
    --sidebarWidth: 300px;
    --sidebarBackground: #E9ECEF;
    --sidebarActiveLink: #F8877C;
    --sidebarLink: #FDFDFE;
}


#sidebar {
    width: var(--sidebarWidth);
    height: 100vh;


    top: 0;
    left: 0;
    z-index: 999;
    margin-left: calc(-1 * var(--sidebarWidth));

    background: var(--sidebarBackground);
    transition: all 0.3s;
}

#sidebar h2.app-title {
    padding: .5em;
}

#sidebar.open {
    margin-left: 0;
}

ul {
    padding: 0 1em;
}

ul.sidebar-list li {
    list-style: none;
    border-bottom: 1px solid var(--separatorColor);;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

ul.sidebar-list li:last-child {
    border-bottom: none;
}
