:root {
    --color-box-side: 1.25em;
}

div.color-box {
    height: var(--color-box-side);
    width: var(--color-box-side);
    border-radius: 25%;
}


table.blocking-contexts-table th.name-column {
    width: 100%;
}
