:root {
  --lightBackground: rgb(245, 246, 247);
  --lightBackgroundTransparent: rgba(245, 246, 247, 0.9);
}

.light-background,
.navbar.light-background {
  background-color: var(--lightBackground);
}

button.button-link {
  border: none;
  background-color: transparent;
}

/* Tables */
td > a,
td > a:hover {
  color: black;
}

/* Forms */
.form-buttons .btn:first-child{
  margin-right: auto;
}


/* Headers */
div.row.header-row {
  margin-top: .5em;
  margin-bottom: 1em;
}


/* Icons */
a.icon-button {
  margin-right: .5em;
  cursor: pointer;
}
