:root {
  --sidebar-width: 250px;
}

.wrapper {
  display: flex;
  width: 100vw;
}

.content {
  width: 100vw;
}

#sidebar {
  width: var(--sidebar-width);
  height: 100vh;


  top: 0;
  left: 0;
  z-index: 999;
  margin-left: calc(-1 * var(--sidebar-width));

  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.open {
  margin-left: 0;
}

img.menu-icon {
  width: 1.5em;
  margin: .3em 1em .3em .3em;
}
