.card-header > div {
    display: flex;
    cursor: pointer;
}

.card-header i.fa-caret-down {
    margin: auto 0 auto auto;
    transition-duration: 0.5s;
}

.card-header i.fa-exclamation-triangle {
    margin-right: .5em;
    margin-top: .25em;
}


i.fa-caret-down.expanded {
    transform: rotate(180deg);
}

